# OS
.DS_Store
Thumbs.db

# Node / JS
node_modules/
.npmrc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Python virtualenv / tooling
.venv/
.env
.env.*
__pycache__/
*.pyc

# Logs
logs/
*.log

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Build / Dist / Cache
.dist/
dist/
build/
.cache/
.tmp/

# Wrangler / Cloudflare
.wrangler/

# Coverage
coverage/
*.coverage

# Misc
*.local
